.bg {position:fixed;width:100vw;height:100vh;top:0;left:0;background:rgba(112,70,143,1);
    animation:10s Skew infinite;opacity: 10;
      box-shadow:0 -50vh 0 rgba(177,25,29,1) inset
    }
    .bg:before {position:absolute;top:50vh;left:0;
    height:25vh;width:100%;content:'';background:rgba(25,162,243,1);box-shadow:0 0 16px rgba(0,0,0,0.15);z-index:1
    }
    .bg:after {background:rgba(22,179,118,1);
    content:'';display:block;width:100%;height:25vh;
      position:absolute;top:25vh;left:0;box-shadow:0 0 16px rgba(0,0,0,0.15);}
    .bg:before, .bg:after {  animation:10s Skew infinite;
    }
    .bg:before {animation-delay:2s}
    .bg:after {animation-delay:6s}
    @keyframes Skew {
      20% {transform:skewY(-45deg) scale(1,3)}
      40% {transform:skewY(45deg) scasle(1.3);}
      60% {transform:skewY(-45deg) scale(1,3);}
      80% {transform:skewY(45deg) scale(1,3)}
    }
    .content {position:relative;margin:1vh auto;font-family:algerian;
    background:rgba(255,255,255,0.15);font-size:5vw;
      padding:1vh;text-align:center;color:rgba(255,255,255,0.95);
      box-sizing:border-box;text-shadow:0 0 1vw rgba(0,0,0,0.25);
      max-width:80vw
      
    }