 body{
    width: 100%;
    height: 100%;
    min-height: 500px;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  }
  .container{
    /* background-color: #007ced; */
    background-color:lightseagreen;
    width: 100%;
      /* background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%); */
      background: linear-gradient(to bottom, lightseagreen 1%,#cce7ff 100%);
  }
  #cloud-intro{
    position: relative;
    height: 100%;
    width:100%;
    overflow:hidden;
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
                url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
                url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
      animation: wind 20s linear infinite;
  }
  @keyframes wind{
    0% {
      background-position: 0 200px, 0 300px, 100px 250px;
    }
    100% {
      background-position: 1000px 200px, 1200px 300px, 1100px 250px;
    }
  
  }
  
  .contact-box
  {
    position:relative;
    width:100%;
    height:40%;
    top:10%;
    /* margin-left:10%; */
    margin-bottom: 5%;
    /* border : 2px solid black; */
  }

  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
  body { background:rgb(30,30,40); }
  form { max-width:420px; margin:50px auto; margin-bottom: 0px; }


.feedback-input {
  color:#000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:700;
  font-size: 20px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #8B2220;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #8B2220; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#8B2220;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }