@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  
  #animate-area {
    width: 100%;
    /* height:fit-content; */
    /* background-image: url(https://davidwalsh.name/demo/bg-clouds.png); */
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 20s linear infinite;
  }
  /*------- for more tutorials visit www.twoclock.com*/